.course_ins {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.course_detail {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 370px;
  color: #333;
}

.course_container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.cert_name {
  font-size: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.course_name {
  font-size: 16px;
  margin-bottom: 15px;
}

.info_detail {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e5e5;
}

.info_1,
.info_2 {
  font-size: 14px;
}

.info_2.mode-online {
  background-color: rgba(2, 174, 68, 0.8);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.info_2.mode-offline {
  background-color: rgba(230, 212, 14, 0.8);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 46, 46, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
