.question_in_test {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  height: 100vh;
}

.question_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}

.question_question_right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.question_title {
  font-size: 18px;
  font-weight: 550;
}

.question_title,
.question_all_questions {
  color: #023e73;
}

.question_question,
.question_all_questions,
.bank_icon_right {
  font-size: 13px;
}

.question_question,
.question_icon_right {
  color: #828690;
}

.question_buttons {
  display: flex;
}

.bank_button_delete {
  padding: 5px !important;
  background-color: #ffd8d8;
  color: #ff1616 !important;
  font-size: 16px !important;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.bank_button_delete:hover {
  background-color: #ff1616 !important;
  color: #fff !important;
}

.question_button_edit {
  padding: 5px !important;
  background-color: #d8e7ff;
  color: #033e8c !important;
  font-size: 16px !important;
  margin-right: 5px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.question_button_edit:hover {
  background-color: #033e8c !important;
  color: #fff !important;
}

.question_table_container {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question_table_container a {
  display: flex;
  justify-content: flex-end;
}

.question_add {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  background-color: #033e8c;
  border: none;
  cursor: pointer;
}

.bank_add:hover {
  background-color: #1e78ff;
}

.popup_container {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999 !important;
}

.popup_container h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup-overlay {
  z-index: 9999 !important;
}

.popup_buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popup-content {
  background: none !important;
  border: none !important;
  width: 50% !important;
}

.all_question_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all_question_form {
  width: 250px;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  color: #333;
}

.all_course_form:focus {
  border-color: #033e8c;
}

.button_save {
  box-shadow: none !important;
  background-color: #033e8c !important;
  color: #fff !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
}

.button_save:hover {
  background-color: #1e78ff !important;
}

.button_cancel {
  box-shadow: none !important;
  background-color: #ffd8d8 !important;
  color: #ff1616 !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
}

.button_cancel:hover {
  background-color: #ff1616 !important;
  color: #fff !important;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-form-item
  .ant-form-item-label {
  text-align: start !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-row {
  flex-direction: column;
}

.course_status_indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.course_status_indicator.active {
  background-color: #32cd32;
}

.course_status_indicator.inactive {
  background-color: #ff1616;
}

.status-online {
  box-shadow: none !important;
  color: #fff !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
  background-color: rgba(54, 235, 123, 0.8);

  border-radius: 5px;
}

.status-offline {
  box-shadow: none !important;
  color: #fff !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
  border-radius: 5px;
  background-color: rgba(54, 163, 235, 0.8);
}
