.student {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  /* height: 100vh; */
}

.student_title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.student_student_right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.student_title{
    font-size: 18px;
    font-weight: 550;
}

.student_title, .student_all_students{
    color: #023e73;
}

.student_student, .student_all_students, .student_icon_right{
    font-size: 13px;
}

.student_student, .student_icon_right{
    color: #828690;
}

.student_table_container{
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}

.student_button_delete{
     padding: revert !important;
    background-color: #ffd8d8;
    color: #ff1616 !important;
    font-size: 16px !important;
}

.student_button_delete:hover{
    background-color: #ff1616 !important;
    color: #fff !important;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead >tr>th{
    background-color: #fff !important
}