.sap_module {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  /* height: 100vh; */
}

.sap_module_table_container {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
