.fee {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  /* height: 100vh; */
}

.fee_title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.fee_fee_right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fee_title{
    font-size: 18px;
    font-weight: 550;
}

.fee_title, .fee_collection{
    color: #023e73;
}

.fee_fee, .fee_collection, .fee_icon_right{
    font-size: 13px;
}

.fee_fee, .fee_icon_right{
    color: #828690;
}