.sap_module {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  /* height: 100vh; */
}

.sap_module_table_container {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sap_module_table_container a {
  display: flex;
  justify-content: flex-end;
}
.sap_module_add {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  background-color: #033e8c;
  border: none;
  cursor: pointer;
}

.sap_module_add:hover {
  background-color: #1e78ff;
}

.sap_module_input{
     display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sap_module_form {
  width: 250px;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  color: #333;
}

.sap_module_form:focus{
    border-color: #033e8c;
}

.sap_module_status_indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.sap_module_status_indicator.active {
  background-color: #32cd32;
}

.sap_module_status_indicator.inactive {
  background-color: #ff1616; 
}
