
.add_instructor {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  height: 100vh;
}

.add_instructor_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}

.add_instructor_instructor_right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add_instructor_title {
  font-size: 18px;
  font-weight: 550;
}

.add_instructor_title,
.add_instructor_add_instructors {
  color: #023e73;
}

.add_instructor_instructor,
.add_instructor_add_instructors,
.add_instructor_icon_right {
  font-size: 13px;
}

.add_instructor_instructor,
.add_instructor_icon_right {
  color: #828690;
}

.add_instructor_form_container {
  background-color: #fff;
  border-radius: 3px;
  padding-bottom: 20px;
}

.add_instructor_label {
  padding: 15px;
  border-bottom: 1px solid #d9d9d9ae;
  font-size: 18px;
  font-weight: 550;
}

.add_instructor_input_colum {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add_instructor_input_colum input,
.add_instructor_input_colum select {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  color: #333;
}

.add_instructor_input_colum label {
  font-size: 12px;
  color: #333;
  font-weight: 550;
}

.add_instructor_input_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.add_instructor_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 70px;
}

.add_instructor_button_submit {
  background-color: #033e8c;
  color: #fff !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
  border: none;
  border-radius: 5px;
  margin-left: 0 !important;
}

.add_instructor_button_submit_1 {
  background-color: #033e8c;
  color: #fff !important;
  padding: 10px !important;
  font-size: 14px !important;
  width: 75px;
  border: none;
  border-radius: 5px;
  margin-left: 70px !important;
}

.add_instructor_button_submit_1:hover {
  background-color: #1e78ff;
  cursor: pointer;
}

.add_instructor_button_submit:hover {
  background-color: #1e78ff;
  cursor: pointer;
}
