:where(.css-dev-only-do-not-override-5wsri9).ant-layout-header {
  background: #fff !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-btn.ant-btn-icon-only {
  width: 50px !important;
  height: 50px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-btn {
  font-size: 20px !important;
  padding: 0 !important;
  color: #667797 !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-btn-variant-text:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background: hsl(219, 94%, 96.1%) !important;
  color: #033e8c !important;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-search {
  background-color: #f5f5f5 !important;
  border-color: transparent;
  height: 40px;
  padding-inline-start: 40px;
  border-radius: 800px;
  font-weight: 400;
  outline: none;
  width: 100%;
  padding: 13px 13px 13px 40px;
  border: 1px solid #d5dbe7;
  color: #333;
  line-height: 1;
}

.navbar-search::placeholder {
  color: #667797;
  font-size: 14px;
}

.navbar-search:focus-within {
  border-color: #023e73;
}

.navbar-search-button {
  font-size: 20px;
  color: #a1a1a2;
  position: absolute;
  display: flex;
  background-color: transparent;
  border: 0;
  inset-inline-start: 12px;
  inset-block-start: 22px;
  cursor: pointer;
}
.navbar-position {
  position: relative;
}

.navbar-form {
  width: 350px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-noti-button {
  font-size: 20px;
  background-color: #f5f5f5;
  color: #667797;
  height: 40px;
  width: 40px;
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  animation: shaking 5s infinite;
}

.navbar-noti-button:hover {
  background: hsl(219, 94%, 96.1%);
  color: #033e8c;
  cursor: pointer;
}
.navbar-point {
  width: 8px;
  height: 8px;
  background-color: #ea5455;
  inset-block-start: 8px;
  inset-inline-start: 22px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  right: 0;
  position: absolute;
}

.navbar-point::before,
.navbar-point::after {
  position: absolute;
  content: "";
  background-color: inherit;
  opacity: 0.8;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  border-radius: 50px;
  transform: scale(1);
  animation-name: transformScale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: -1;
}

.navbar-point::after {
  animation-delay: 0.75s;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.navbar-button-name {
  cursor: pointer;
  border: 1px solid #a1a1a2;
  width: 80px;
  border-radius: 800px;
  background-color: transparent;
}

.navbar-button-name:hover {
  background: hsl(219, 94%, 96.1%);
  color: #033e8c;
}
.navbar-dropdowns {
  position: absolute;
  top: 55px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 240px;
  z-index: 1000;
  border-radius: 12px;
}

.navbar-dropdown-item {
  display: flex;
  padding: 15px !important;
  border-bottom: 1px solid #efefef !important;
  min-width: 100%;
  max-width: 100%;
  white-space: normal;
  display: block;
}

.navbar-message {
  width: 80%;
  height: 80px;
  white-space: normal;
}

.navbar-message h6 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: left;
  position: relative;
  height: 30px;
}

.navbar-message span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  color: #686f7a;
  text-align: left;
}

.navbar-profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: #667797;
  font-size: 14px;
  height: 60px;
  border-radius: 8px;
}

.navbar-profile-wrapper:hover {
  background: hsl(219, 94%, 96.1%);
  color: #033e8c;
  cursor: pointer;
}

.navbar-icon {
  width: 20px;
  height: 20px;
}
@keyframes shaking {
  0% {
    transform: rotate(0);
  }

  3% {
    transform: rotate(30deg);
  }
  6% {
    transform: rotate(-28deg);
  }
  9% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes transformScale {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  60% {
    transform: scale(2.5);
    opacity: 0.2;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
