.add_topic {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 100vh;
}

.add_topic_title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.add_topic_topic_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add_topic_title {
    font-size: 18px;
    font-weight: 550;
}

.add_topic_title,
.add_topic_add_topics {
    color: #023e73;
}

.add_topic_topic,
.add_topic_add_topics,
.add_topic_icon_right {
    font-size: 13px;
}

.add_topic_topic,
.add_topic_icon_right {
    color: #828690;
}

.add_topic_form_container {
    background-color: #fff;
    border-radius: 3px;
    padding-bottom: 20px;
}

.add_topic_label {
    padding: 15px;
    border-bottom: 1px solid #d9d9d9ae;
    font-size: 18px;
    font-weight: 550;
}

.add_topic_input_colum {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_topic_input_colum input,
.add_topic_input_colum select {
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #333;
}

.add_topic_input_colum label {
    font-size: 12px;
    color: #333;
    font-weight: 550;
}

.add_topic_input_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_topic_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 70px;
}

.add_topic_button_submit {
    background-color: #033e8c;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    width: 75px;
    border: none;
    border-radius: 5px;
    margin-left: 863px;
}

.add_topic_button_submit:hover {
    background-color: #1e78ff;
    cursor: pointer;
}
